@mixin burger-item-active($color, $x, $y, $angle: 0) {
  background-color: $color;
  transform: rotate($angle) translate($x, $y);
}

.burger {
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 5;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger-item {
  width: 100%;
  height: 5px;
  border-radius: 1000px;
  background-color: $shadow-color;
  transition: all 0.3s ease-in-out;
}

.burger-item.first.active {
  @include burger-item-active(#fff, 0, 15px, 36.87deg);
}

.burger-item.second.active {
  @include burger-item-active(#fff, -20px, 0);
  opacity: 0;
}

.burger-item.third.active {
  @include burger-item-active(#fff, 0, -15px, -36.87deg);
}

@media (max-width: 520px) {
  .burger {
    transform: scale(0.8);;
  }
}