*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #9D50BB;
  background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);
  background: linear-gradient(to right, #6E48AA, #9D50BB);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  padding: 10px;
  box-shadow: 0 5px 15px 5px rgb(58, 56, 56);
  background-color: rgba(73, 48, 2);
}

.field {
  position: relative;
  max-width: 400px;
  max-height: 400px;
  border-radius: 10px;
  background-color: rgb(3, 95, 26);
  color: rgb(4, 49, 4);
}

.cell {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(26, 26, 27);
  border-radius: 10%;
  font-size: 24px;
  font-weight: 600;
  background-color: rgb(53, 194, 10);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.panel {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-between;
  color: bisque;
  font-size: 18px;
  font-weight: 500;
}

.btn {
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: rgb(119, 119, 30);
  font-size: 14px;
  font-weight: 500;
  color: rgb(26, 26, 27);
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
}

.btn:hover {
  background-color: greenyellow;
}

.btn:active {
  transform: translate(1px, 1px);
}

.victory {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(12, 115, 121, .9);
  border-radius: 2px 45px;
  font-size: 20px;
  color: bisque;
  font-family: Arial, sans-serif;
  font-weight: 500;
  transition: all .3s ease-in-out;
  text-align: center;
  z-index: 55;
}

.victory.active {
  top: calc(50% - 45px);
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  pointer-events: none;
  z-index: 50;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 300px;
  height: 345px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  overflow: auto;
  font-size: 16px;
  font-weight: 500;
  z-index: 100;
  transition: all .3s ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.header {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(63, 2, 121);
}

.scores-table {
  position: relative;
  border-collapse: collapse;
  margin: 0 auto;
}

.score-table tr, td, th {
  text-align: center;
  border: 1px solid grey;
  padding: 3px;
}

.exit {
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: crimson;
  font-weight: 600;
  color: white;
  border-radius: 10px;
  z-index: 150;
  cursor: pointer;
}

.exit:hover {
  font-size: 20px;
}

.exit:active {
  background-color: rgb(126, 9, 32);
}